.container:not(.is-max-desktop):not(.is-max-widescreen) {
  max-width: 1358px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card-preview {
  background-color: white;
  margin: 0 !important;
  display: block;
  overflow: hidden;
}

.card-preview .hero.is-fullheight {
  height: 100%;
  min-height: 100%;
}

.card-preview .hero-body {
  padding: 0px;
}

.badges {
  position: absolute;
  top: 51px;
  left: 29px; /* accounts additional ml-5 css class on icons */
  text-align: left;
  color: white;
}

.tiled-info {
  position: absolute;
  width: auto;
  top: 39px;
  right: 55px;
  text-align: right;
  color: white;
}

.tiled-info .times {
  vertical-align: super;
  padding-right: 4px;
}

.recipe-source {
  position: absolute;
  bottom: 73px;
  left: 46px;
  text-align: left;
  color: white;
}

.built-by {
  position: absolute;
  bottom: 46px;
  left: 46px;
  text-align: left;
  color: white;
}